[package]
name = "s3sync"
version = "0.1.8"
edition = "2021"
authors = ["nidor1998 <nidor1998@gmail.com>"]
description = "synchronizing tool for s3"
license = "Apache-2.0"
rust-version = "1.70"
repository = "https://github.com/nidor1998/s3sync"
homepage = "https://github.com/nidor1998/s3sync"
documentation = "https://github.com/nidor1998/s3sync"
readme = "README.md"
keywords = ["s3", "sync"]
categories = ["command-line-utilities", "filesystem"]

[dependencies]
anyhow = { version = "1.0.71" }
async-trait = "0.1.68"
async-channel = "1.8.0"
aws-config = "0.55.2"
aws-sdk-s3 = "0.28.0"
aws-smithy-client = "0.55.3"
aws-smithy-http = "0.55.3"
aws-smithy-types = "0.55.3"
aws-smithy-types-convert = { version = "0.55.3", features = ["convert-chrono"] }
aws-types = "0.55.3"
base64 = "0.21.2"
byte-unit = "4.0.19"
bytes = "1.4.0"
clap = { version = "4.3.0", features = ["derive", "env", "cargo", "string"] }
clap_complete = "4.3.0"
clap-verbosity-flag = "2.0.1"
chrono = "0.4.26"
crc32c = "0.6.3"
crc32fast = "1.3.2"
dyn-clone = "1.0.11"
filetime = "0.2.21"
leaky-bucket = "1.0.0"
md5 = "0.7.0"
mime_guess = "2.0.4"
hex = "0.4.3"
http = "0.2.9"
hyper = {version = "0.14.26", features = ["stream"]}
hyper-rustls = {version = "0.24.0", features = ["http2"]}
hyper-proxy = {version = "0.9.1", default-features = false, features = ["rustls"]}
indicatif = "0.17.4"
log = "0.4.18"
pin-project = "1.1.0"
percent-encoding = "2.2.0"
regex = "1.8.3"
rustls = { version = "0.21.1", features = ["dangerous_configuration"] }
rusty-fork = "0.3.0"
sha1 = "0.10.5"
sha2 = "0.10.6"
shadow-rs = "0.22.0"
simple_moving_average = "0.1.2"
tempfile = "3.5.0"
thiserror = "1.0.40"
tokio = { version = "1.28.2", features = ["full"] }
tokio-stream = "0.1.14"
tokio-util = "0.7.8"
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.17", features = ["env-filter", "json", "local-time"] }
url = "2.3.1"
urlencoding = "2.1.2"
walkdir = "2.3.3"
webpki-roots = "0.23.0"
zeroize = "1.6.0"
zeroize_derive = "1.4.2"

[dev-dependencies]
nix = "0.26.2"
once_cell = "1.17.1"
uuid = { version = "1.3.3", features = ["v4"] }

[build-dependencies]
shadow-rs = "0.22.0"

[features]
e2e_test = []
