[target.x86_64-pc-windows-msvc]
rustflags = [
    "-C", "target-feature=+crt-static",
    "-C", "link-arg=/STACK:2000000"
]

[target.aarch64-pc-windows-msvc]
rustflags = [
    "-C", "target-feature=+crt-static",
    "-C", "link-arg=/STACK:2000000"
]

## "link-args=-rdynamic" is used to ensure that symbols are exported correctly.
## This is required for mlua to work properly on Linux and macOS.
## see. https://github.com/mlua-rs/mlua/blob/main/FAQ.md
[target.x86_64-unknown-linux-gnu]
rustflags = ["-C", "link-args=-rdynamic"]

[target.aarch64-unknown-linux-gnu]
rustflags = ["-C", "link-args=-rdynamic"]

[target.x86_64-apple-darwin]
rustflags = ["-C", "link-args=-rdynamic"]